<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:fitsSystemWindows="true">
    <include
        layout="@layout/toolbar" />
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:minWidth="25px"
            android:minHeight="25px"
            android:orientation="vertical">
            <LinearLayout
                android:id="@+id/movieHolderTop"
                android:layout_width="fill_parent"
                android:layout_height="400px"
                android:orientation="horizontal"
                android:paddingLeft="50dp">
                <ImageView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/moviePoster"
                    android:src="@drawable/not_available"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true" />
                <LinearLayout
                    android:id="@+id/movieHolderTopRight"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical"
                    android:gravity="center_vertical">
                    <Spinner
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/movieListSpinner"
                        android:layout_margin="16dp" />
                    <Button
                        android:id="@+id/addButton"
                        android:layout_width="300px"
                        android:layout_height="wrap_content"
                        android:layout_gravity="center" />
                    <TextView
                        android:id="@+id/movieScoreText"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:textSize="20sp"
                        android:text="IMDB rating: "
                        android:gravity="center" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_height="match_parent"
                android:layout_width="match_parent"
                android:padding="15dp"
                android:orientation="vertical">
                <TextView
                    android:id="@+id/movieDirector"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="14sp" />
                <TextView
                    android:id="@+id/movieActors"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="14sp" />
                <TextView
                    android:id="@+id/movieYear"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="14sp" />
                <TextView
                    android:id="@+id/movieGenre_type"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="14sp"
                    android:textStyle="italic" />
                <TextView
                    android:id="@+id/moviePlot"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="14sp" />
            </LinearLayout>
        </LinearLayout>
    </ScrollView>
</LinearLayout>